.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px var(--dark-shade-shoadow);
}
