body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #a18fbc;
  --secondary: #edba5f;
  --dark-shade: #443b61;
  --dark-shade-shadow: #302a45;
  --dark-accent: #a38aa3;
}
